.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
.phh-loading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0e580ea8;
}
.ant-spin {
	height: 100% !important;
	max-height: unset !important;
}

// #####  other
.phh-padding-1em {
	padding: 1em;
}
.min-height-450 {
	min-height: 450px;
}
.phh-card {
	box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #f2f4f9;
	border-radius: 0.25rem;
	.ant-card-head {
		border-bottom: 1px solid #f2f4f9 !important;
	}
}
.phh-btn-ex-action {
	border-color: rgb(0, 189, 135) !important;
	font-size: 0.875rem;
	line-height: 1;
	padding: 0.5rem 1rem 0.4rem;
	font-weight: 600;
	color: rgb(0, 189, 135) !important;
	border-width: 2px;
	&:hover {
		background-color: rgb(0, 189, 135) !important;
		color: #fff !important;
	}
}
.phh-group-ex {
	display: flex;
	.ant-input-search {
		width: 300px;
		margin-right: 10px;
		input {
			&:hover,
			&:focus {
				border-color: #00bd87 !important;
			}
		}
	}
}
.phh-group-btn-head {
	padding: 16px 24px;
	display: flex;
	justify-content: right;
	align-items: center;
	float: right;
	button {
		margin: 0 5px 0 5px;
		&:first-child {
			box-shadow: 0 2px 6px 0 rgb(0, 189, 135);
			background-color: rgb(0, 189, 135) !important;
			border: 1px solid rgb(0, 189, 135);
			color: #fff;
			&:hover {
				filter: brightness(115%);
			}
		}
		&:last-child {
			box-shadow: 0 2px 6px 0 #8fa2e6;
			background-color: #8ea0de !important;
			border: 1px solid #aebef8;
			color: #fff;
			&:hover {
				filter: brightness(115%);
			}
		}
	}
}
.phh-group-btn-action {
	button {
		margin: 0 5px 0 5px;
	}
	.btn-edit {
		box-shadow: 0 2px 6px 0 rgba(3, 114, 179, 0.6);
		background-color: #0373b3;
		border: 1px solid #0373b3;
		color: #fff;
		&:hover {
			filter: brightness(115%);
		}
	}
	.btn-delete {
		box-shadow: 0 2px 6px 0 #ff4d4f;
		background-color: #ff4d4f;
		border: 1px solid #ff4d4f;
		color: #fff;
		&:hover {
			filter: brightness(115%);
		}
	}
}
.phh-table {
	.ant-switch-checked {
		box-shadow: 0 2px 6px 0 rgba(3, 114, 179, 0.6) !important;
	}
	.ant-switch {
		box-shadow: 0 2px 6px 0 rgba(105, 107, 109, 0.6);
	}
}

.create-account,
.update-account {
	input {
		height: 35px;
		padding-left: 35px !important;
		font-size: 14px !important;
	}
	.ant-select-selection--single {
		height: 35px !important;
	}
	.ant-calendar-picker {
		width: 100%;
		input {
			padding-left: 12px !important;
			font-size: 14px !important;
		}
	}
}
.phh-margin-bottom-15 {
	margin-bottom: 15px;
}
.phh-rule-tree {
	display: flex;
	flex-wrap: wrap;
	li {
		margin-right: 50px;
		ul.ant-tree-child-tree {
			li {
				margin-right: unset !important;
			}
		}
	}
}
// ##### end other
